body{
    background-color: #0D1117;
    color:white;
    margin:0px;
}
div.header{
    font-size: 55px;
    background-color:#161B22;
    width:100%;
    margin:0px auto;
    padding:0px;

}
p.p1{
    text-align: center;
    color:rgb(52, 191, 216);
    font-size: 30;
}
table.nav{
    text-align: center;
    border-spacing: 10px;
    font-size:19px;
}
td.tbl{
    background-color:#01193d;
    border-radius: 10px;
    border: 2px dashed #30363D;
    width:175px;
    vertical-align: middle;
    padding-top: 5px;
    padding-bottom: 5px;
    
}
td:hover{
    background-color:#161B22;
}
div.footer{
    background-color: #161b22;
    text-align: center;
    font-size:17px;
}
td a{
    display:inline-block;
    height: 100%;
    width:100%;
}