@import url('https://fonts.googleapis.com/css2?family=Klee+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
body{
    font-family: 'Klee One', cursive;
    background-color: #0D1117;
    color:white;
    margin:0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
div.header{
    font-size: 55px;
    background-color:#161B22;
    width:100%;
    margin:0px auto;
    padding:0px;

}
p.p1{
    text-align: center;
    color:rgb(82, 215, 238);
    font-size: 30;
    margin:10px 0px 0px 0px;
}
table.nav{
    text-align: center;
    border-spacing: 10px;
    font-size:22px;
    margin-top:5px;
    margin-bottom: 5px;
}
td.tbl{
    background-color:rgb(0, 47, 59);
    border-radius: 10px;
    /* width:260px; */
    border: 2px solid transparent;
    padding: 5px;
    transition: 0.3s;
}
#blocked:hover{
    cursor: no-drop;
    background-color:darkred;
}
td:hover{
    background-color:#11485e;
    border: 2px solid rgb(62, 145, 145);
    box-shadow: 0px 5px 25px rgb(42, 85, 87);
    transition: 0.2s;
}
div.footer{
    font-family: 'Shadows Into Light', cursive;
    background-color: #161b22;
    text-align: center;
    font-size:22px;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
}
a img {
    transition: 0.4s;
}
a img:hover {
    filter: brightness(150%);
    transition: 0.2s;
    
}
.link{
    width: 100%;
    height: 100%;
}
div.section-top{
    width:260px;
}