@import url('https://fonts.googleapis.com/css2?family=Klee+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
body{
    font-family: 'Klee One', cursive;
    background-color: #0D1117;
    color:white;
    margin:0px;
}
div.header{
    font-size: 55px;
    background-color:#161B22;
    width:100%;
    margin:0px auto;
    padding:0px;
    height:75px;
    text-align:center;
}
div.footer{
    font-family: 'Shadows Into Light', cursive;
    background-color: #161b22;
    text-align: center;
    font-size:22px;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
}

li.nav-item{
    list-style-type: none;
    float: left;
    width:50%;
    text-align: center;
    background-color:#8842d5;
    font-size:30px
}
li.nav-item2{
    list-style-type: none;
    float: left;
    width:100%;
    text-align: center;
    background-color:#8842d5;
    font-size:30px
}
#nav{
    margin:0px;
    padding:0px;
}
table.content{
    width:100%;
}
td.tbl{
    padding-bottom:10px;
    width:50%;
}
#item{
    padding: 2px;

}
.previous {
    background-color:#8842d5;
    color: white;
    border: 3px solid transparent;
    transition:0.15s
}
.previous:hover{
    border: 3px solid #670cc9;
    transition:0.3s;
}
.home{
    background-color:#1f5052;
    color:white;
    border: 3px solid transparent;
    transition:0.15s
}

.next {
    background-color: #8842d5;
    color: white;
    border: 3px solid transparent;
    transition:0.15s
}
.next:hover{
    border: 3px solid #670cc9;
    transition:0.3s;
}
#button{
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    border-radius: 10px;
    transition: color 1s;
    transition: 0.5s;
}
#button:hover{
    background-color: rgb(216, 175, 233);
    color: #4c2377;
    box-shadow: 0 0 20px #8842d5, 0 0 20px #8842d5, 0 0 20px #8842d5;
    transition:0.3s
}
#button:hover .home  {
    background-color: #a8e3e7;
    color: #1f5052;
    box-shadow: 0 0 10px #34deeb, 0 0 10px #34deeb, 0 0 10px #34deeb;
}

.home:hover{
    border: 3px solid #670cc9;
    transition:0.15s
}

/* a:hover {
    background-color: #ddd;
    color: black;
} */
.lonk{
    text-decoration: none; color: white;
}
.lonk:hover{
    background-color: white;
    color:black;
}
#smol{
    padding:3px;
    margin-top:2px;
    margin-bottom:2px;
}
#smol:hover{
    border-radius: 5px;
}