body{
    background-color: #0D1117;
    color:white;
    margin:0px;
}
div.header{
    font-size: 55px;
    background-color:#161B22;
    width:100%;
    margin:0px auto;
    padding:0px;
    height:75px;
    text-align:center;
}
div.footer{
    background-color: #161b22;
    text-align: center;
    font-size:17px;
}

li.nav-item{
    list-style-type: none;
    float: left;
    width:50%;
    text-align: center;
    background-color:#8842d5;
    font-size:30px
}
#nav{
    margin:0px;
    padding:0px;
}
table.content{
    width:100%;
}
td.tbl{
    padding-bottom:10px;
    width:50%;
}
#item{
    padding: 2px;

}
.previous {
    background-color:#8842d5;
    color: white;
}
.home{
    background-color:#161b22;
    color:white;
}
  
.next {
    background-color: #8842d5;
    color: white;
}
#button{
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    border-radius: 10px;
    transition: color 1s;
    transition: background-color 0.85s;
}
#button:hover{
    background-color: #ddd;
    color: black;
}
  
/* a:hover {
    background-color: #ddd;
    color: black;
} */
.lonk{
    text-decoration: none; color: white;
}
.lonk:hover{
    background-color: white;
    color:black;
}
#smol{
    padding:3px;
    margin-top:2px;
    margin-bottom:2px;
}
#smol:hover{
    border-radius: 5px;
}
